extends layout

block content
  div(class='container')
    div(class='row')
      h1 #{title}
      p #{description}
    div(class='row')
      div(class='col-sm')
        div(class='row')
          div(class='col-sm')
            div(id="canvas-container")
          div(class='col-sm')
            div(id='svg-elements-menu' class='menu')
              h1 I'm the SVG Menu
              label Choisir un élément à ajouter : 
              select(id="select-svg-elements" name="select-svg-elements")
                option(value="0") Choisir un élément
                option(value="square") Carré
                option(value="text") Texte
              div(id='square-menu' class='menu' hidden)
                h1 menu du carré
                label(for="input-square-side") Taille du côté
                input(type="number" min=5 max=200 value='50' name='input-square-side' id='input-square-side')
                label(for='input-square-color') Couleur du carré
                input(class='jscolor' id="input-square-color" value="ab2567")
              div(id='text-menu' class='menu' hidden)
                h1 menu du texte
                label(for="select-text-font-family") Police d'écriture
                select(id="select-text-font-family" name="select-text-font-family")
                  option(value="Helvetica") Helvetica
                  option(value="Arial") Arial
                label(for="input-text-font-size") Taille de la police
                input(id="input-text-font-size" name="input-text-font-size" type="number" min=5 max=150 value=50)  
                label(for="input-text-content")
                input(id="input-text-content" name="input-text-content" value="A" maxlength="10")

              br
              button(id='btn-fill-canvas' hidden) Remplir la zone de cet élément
              button(id='btn-delete-element' hidden) Supprimer l'élément sélectionné
              button(id='btn-add-element'  hidden) Ajouter un élément
              button(id='btn-delete-all-elements') Supprimer tous les éléments

              br
              h2 Canvas
              br
              div
                input(id='input-canvas-width'  value='0' type='number' min='100' max='1000')
                label Longueur 
              div
                input(id='input-canvas-height' value='0' type='number' min='100' max='800')
                label Hauteur
              br
              h2 Grid
              br
              button(id='btn-add-grid' class='mdc-button mdc-button--raised') Afficher la grille
              button(id='btn-remove-grid' class='mdc-button mdc-button--raised' hidden) Remove the grid !
              input(id='input-grid-cell-size' value='50' type='number' min='10' max='1000' hidden)
              br
              h2 Not working yet
              br
              input(type='file' id='input-import-svg-file')
              button(id='btn-export') export !