extends layout

block content
  h1 #{title}
  p #{description}
  label Shape menu
  br
  button(id='btn-new-square') Add new square !
  button(id='btn-new-text') Add new text !
  br
  label Canvas
  br
  label Width : 
  input(id='input-canvas-width' value='500' type='number' min='100' max='1000')
  label Height : 
  input(id='input-canvas-height' value='300' type='number' min='100' max='800')
  br
  label Grid
  br
  button(id='btn-add-grid') Add a grid !
  button(id='btn-remove-grid') Remove the grid !
  input(id='input-grid-cell-size' value='50' type='number' min='10' max='1000')
  br
  label Not working yet
  br
  input(type='file' id='input-svg-file')
  button(id='btn-export') export !
  div(id="canvas-container")
