extends layout

block content
  h1 #{title}
  p #{description}
  button(id='btn-new-square') Add new square !
  button(id='btn-export') export !
  button(id='btn-test') test button !
  input(type='file' id='input-svg-file')
  div(id="canvas-container")
