doctype html
html
  head
    title= title
    
    script(src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js")
    //link(href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet")
    //script(src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js")
    //link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="/images/favicon.png")
    //script(src="/javascripts/svg.export.js")
  body
    block content
    
  footer
    script(src='/javascripts/jscolor.js')
    script(src='/javascripts/enum.js')
    script(src='/javascripts/Shape.model.js')
    script(src='/javascripts/Square.model.js')
    script(src='/javascripts/TextSVG.model.js')
    script(src='/javascripts/Path.model.js')
    script(src='/javascripts/Polyline.model.js')
    script(src='/javascripts/eventlistener.js')
