doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js")
    //script(src="/javascripts/svg.export.js")
  body
    block content
    
  footer
    script(src='/javascripts/jscolor.js')
    script(src='/javascripts/Shape.model.js')
    script(src='/javascripts/Square.model.js')
    script(src='/javascripts/TextSVG.model.js')
    script(src='/javascripts/eventlistener.js')
